
.project-menu {
	float: left;
}
.user-name {
	padding: 10px;
	opacity: 0;
	margin-right: -30px;
	visibility:hidden;
	cursor: pointer;
	z-index: 0;
	position: relative;
	
	span {
		display: inline-block;
		overflow: hidden;
		text-overflow:ellipsis;
		max-width: 200px;
		white-space:nowrap;		
	}
	
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	
	-webkit-transition: margin-right 0.3s, opacity 0.3s;
	-moz-transition: margin-right 0.3s, opacity 0.3s;
	-o-transition: margin-right 0.3s, opacity 0.3s;
	transition: margin-right 0.3s, opacity 0.3s;

	
	&.view-name {
		margin-right: 0;
		opacity: 1;
		visibility:visible;
	}
}
.user-pic {
	position: relative;
	z-index: 5;
	div {
		width: 30px;
		margin-top: 4px;
		border: 1px solid #3f3f3f;
		border-radius: $circle-border;
		height: 30px;
		
		background: #ffffff; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		background: url($user-default-icon) no-repeat center;
		box-shadow: 0 0 3px #333 inset 0 0 3px #fff 0 0 3px #fff inset;
		cursor: pointer;
	}
}
