/* normalize.css v1.0.1 | MIT License | git.io/normalize */
/* normalize.css v1.0.1 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* normalize.css v1.0.1 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* normalize.css v1.0.1 | Links | MIT License | git.io/normalize */
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/* normalize.css v1.0.1 | Typography | MIT License | git.io/normalize */
h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* normalize.css v1.0.1 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

/* normalize.css v1.0.1 | Figures | MIT License | git.io/normalize */
figure {
  margin: 0;
}

/* normalize.css v1.0.1 | Forms | MIT License | git.io/normalize */
form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* normalize.css v1.0.1 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color Scheme */
/* End color scheme  */
* html {
  font-size: 87.5%;
}

html {
  font-size: 14px;
  line-height: 1.5em;
}

/* --- padding and margin ------------ */
.project-menu {
  float: left;
}

.user-name {
  padding: 10px;
  opacity: 0;
  margin-right: -30px;
  visibility: hidden;
  cursor: pointer;
  z-index: 0;
  position: relative;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition: margin-right 0.3s, opacity 0.3s;
  -moz-transition: margin-right 0.3s, opacity 0.3s;
  -o-transition: margin-right 0.3s, opacity 0.3s;
  transition: margin-right 0.3s, opacity 0.3s;
}
.user-name span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
}
.user-name.view-name {
  margin-right: 0;
  opacity: 1;
  visibility: visible;
}

.user-pic {
  position: relative;
  z-index: 5;
}
.user-pic div {
  width: 30px;
  margin-top: 4px;
  border: 1px solid #3f3f3f;
  border-radius: 50%;
  height: 30px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, white 0%, #e5e5e5 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background: url("../images/user-iconx24.png") no-repeat center;
  box-shadow: 0 0 3px #333333 inset 0 0 3px white 0 0 3px white inset;
  cursor: pointer;
}

/* GLOBAL */
/* END GLOBAL */
